.heading{
	text-align: center;
	margin-top: 5rem;
}

li{
	list-style: none;
}

.notes_list{
	padding: 2%;
}

.note{
	margin: 1%;
}

.pageheader nav ul{
	margin-left: 90px;
}

#btn_signout{
	margin-right: 145px;
}

#login_container{
	margin-top: 135px;
	width: 480px;
	height: 320px;
	border:1px solid;
}

#login_container .form-group{
	margin-top: 10px;
}

#register_container{
	margin-top: 60px;
	width: 480px;
	height: 480px;
	border: 1px solid;
}

#signin-text{
	text-decoration: underline;
}

#account_created{
	background-color: #90EE90;
}

    /*for about page*/

         .pageheader header:hover{
          color: violet;
          opacity: 0.5;
          font-size: 35px;
        }
        .pageheader header{
          color: pink;
          margin-top: 50px;
          font-size: 35px;
          margin-bottom: 30px;
        }

     
        .pageheader2 {
          color: black;
          margin-top: 50px;
          font-size: 20px;
          margin-bottom: 30px;
          font-family: sans-serif;
        }
        .pageheader2 summary{
          color: violet;
        }
        .pageheader2 p{
          font-size: 20px;
          margin-top: 20px;
        }

        .pageheader2 table, th, td {
         border: 1px solid pink;
        }
        .summary ul.p{
          color: red;
        }
