.heading{
	text-align: center;
	margin-top: 5rem;
}

li{
	list-style: none;
}

.notes_list{
	padding: 2%;
}

.note{
	margin: 1%;
}

.pageheader nav ul{
	margin-left: 90px;
}

#btn_signout{
	margin-right: 145px;
}